
:root {
    --bg-color: #FFFFFF;
    --text-color: #434455;
    --title-color:#2E2F42;
    --link-color: #434455;
    --btn-color: #4D5AE5;
    --btn-bg-color: #F4F4FD;
    --gra: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7));
    --accent-color: #404BBF;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.no-scroll {
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    /*outline: 2px solid crimson;*/
}



/*------------------ HEADER -------------------*/

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
}

.header-navigation {
    display: flex;
    margin-right: auto;
}

.header-list {
    display: none;
    gap: 40px;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-logo .accent {
    color: #4D5AE5;
}

.header-address {
    display: none;
}

.current {
    color: var(--accent-color);
    position:relative;
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.menu-open-btn {
    width: 32px;
    height: 22px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.icon-menu-hamburger {
    stroke: #2E2F42;
}



/*------------------ MENU -------------------*/

.mob-menu {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    padding: 40px 40px;
    background-color:  #FFFFFF;
    transform:translateX(100%);
    transition-property: transform; 
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
    transform: translateX(0);
}



.mob-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.menu-close-btn {
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    
}
.icon- {
}
.mob-list {
    margin-bottom: 40px;
}

.mob-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.current-mob-item {
    color: var(--accent-color);
}

.mob-address {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.1;
    text-transform: capitalize;
    color: #4D5AE5;
}

.mob-email {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-menu-bottom {
    display: flex;
    flex-wrap: wrap;
}


.mob-soc-list {
    display: flex;
    gap: 25px;
    margin-top: 48px;
}

.mob-soc-item {
    width: 40px;
    height: 40px;
}

.mob-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-icon {
    fill:#FFFFFF;
}

.mob-soc-link:is(:hover, :focus) {
    background-color: var(--accent-color);
}

/*------------------ HERO -------------------*/


.hero {
    max-width: 1440px;
    background: #2E2F42;
    background-image: var(--gra), url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
    background-image: var(--gra), url(../images/hero-bg-mob-2x.jpg);
    }
}

.hero-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}
.hero-btn {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:is(:hover, :focus) {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*------------------ SECTION 1 -------------------*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}


.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--title-color);
}
.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.features-icon-wrap {
    width: auto;
    height: 112px;
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: #F4F4FD;
}


.astronaut {
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.astronaut:is(:hover, :focus,) {
    animation-play-state: paused;
}

.clock:is(:hover, :focus,) {
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.antenna:is(:hover, :focus,) {
    animation: rotateY 3000ms infinite alternate backwards ease-in-out;
}

.diagram:is(:hover, :focus,) {
    animation: rotateX 1500ms infinite alternate ease-in-out;
}


@keyframes spin {
    0% {
    transform: rotate(0deg);
    }

    100% {
    transform: rotate(360deg);
    }
}

@keyframes rotateY {
    50% {
    transform: perspective(400px) rotateY(30deg);
    }

    100% {
    transform: perspective(400px) rotateY(-30deg);
    }
}

@keyframes rotateX {
    0% {
        transform: perspective(400px) rotateX(0deg);
    }
    
    100% {
        transform: perspective(400px) rotateX(45deg);
    }
}


/*------------------ SECTION 2 -------------------*/

.functions {
    display: none;
    padding-bottom: 120px;
}
.function-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
    color: var(--title-color);
}

.function-list {
    display: flex;
    justify-content: space-between;
    flex-basis: calc((100% - 2*24px)/3);
    gap: 24px;
}

/*------------------ SECTION 3 -------------------*/

.team {
    background: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 128px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-content {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.team-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
    color: var(--title-color);
    
}

.team-card {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--title-color);
}

.team-card-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
    fill:#FFFFFF;
}

.team-soc-link:is(:hover, :focus) {
    background-color: var(--accent-color);
}

/*------------------ CUSTOMERS -------------------*/

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customer-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
    color: var(--title-color);
}

.customer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.customer-item {
    width: calc((100% - 16px)/2);
    height: 88px;
}
.customer-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:is(:hover, :focus) {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.customer-icon {
    fill: currentColor;
}


/*------------------ PORTFOLIO -------------------*/


/*------------------ BUTTONS -------------------*/


.btn-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 4*24px)/5);
    justify-content: center;
    margin-bottom: 72px;
}

.btn {
    min-width: 69px;
    height: 48px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-color);
    background: var(--btn-bg-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:is(:hover, :focus) {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


/*------------------ PRODUCTS -------------------*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.product-item {
    gap: 8px;
    border: 1px solid #E7E9FC;
    border-top: none;
    flex-basis: calc((100% - 2*24px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-item:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.product-item:hover .product-top-text {
    transform: translateY(0%);
}

.product-content {
    padding: 32px 16px;
}

.product-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--title-color)
}
.product-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.product-top-wrap {
    position: relative;
    overflow: hidden;
}

.product-top-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}


/*------------------ FOOTER -------------------*/


.footer {
    background: #2E2F42;
    color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 16px;
    color: #E7E9FC;
    margin-left: auto;
    margin-right: auto;
}

.footer-content {

}

.logo-footer {
    color: #F4F4FD;
    display: block;
    text-align: center;
}

.social-links {
    margin-top: 72px;

}
.social-links-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}
.social-links-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.social-links-item {
    width: 40px;
    height: 40px;
    
}
.social-links-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icon {
    fill:#FFFFFF;
    
}

.social-links-link:is(:hover, :focus) {
    background-color: #31D0AA;
}

.footer-subscribe {
    margin-top: 72px;
}

.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #FFFFFF;
    text-align: center;
}

.subscribe-form {
    margin-left: auto;
}

.subscribe-email {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 0;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.subscribe-email::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
    display: flex;
    align-items: center;
    min-width: 165px;
    height: 40px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding: 8px 24px;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:is(:hover, :focus) {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.subscribe-icon {
    fill: #FFFFFF;
}


/*------------------ MODAL -------------------*/


.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    width: 90%;
    max-width: 392px;
    height: 95%;
    max-height: 630px;
    overflow-y: auto;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px;
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, 50%) scaleY(0);
}

.modal-close {
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:is(:hover, :focus) {
    background-color: #404BBF;
    fill: #FFFFFF;
}

.modal-title {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding-left: 38px;
}

.modal-input:focus, .modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-input-icon {
    fill: #4D5AE5;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-input::placeholder, .modal-comment::placeholder {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-input:not(:focus):not(:placeholder-shown):valid {
    background-color: #E7E9FC;
    border-color: #a2abff;
} 

.modal-input:not(:focus):not(:placeholder-shown):invalid {
    background-color: #fad2cd;
    border-color: #f78a7c; 
}

.modal-input-text{
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
    display: block;
}

.modal-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding: 8px 16px;
    resize: none;
}

.modal-check {
    width: 16px;
    height: 16px;
}

.check-text {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    font-size: 11px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: #757575;
}

.check-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color, border, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.modal-check:checked + .check-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.modal-btn-send {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:is(:hover, :focus) {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.policy-link {
    color: #4D5AE5;
}





